.form-group{
    position:relative;
}
.form-control{
    background-color: #dee2e6;
}
/* input{
    height: 52px;
} */
.search-icon{
    position: absolute;
    top: 9px;
    left: 10px;
}
.search-text{
    position: absolute;
    left: 30px;
}
.form-control{
    padding-left: 40px;
}
/* hr{
    color: green;
} */
img{
    height: 20px;
    width: 20px;
}
/* .check-box-size{
    width: 25px;
    height: 25px;
    position:relative;
 } */
 input[type="checkbox"] {
    width: 25px;
    height: 25px;
    position:relative;
    accent-color: #e9ecef;
}
label{
  
    position: absolute;
    padding-left: 6px;
}
.checkbox input:checked {
    border-color: #e9ecef;
    background-color: #e9ecef;
}
  
.countries{
    /* position: absolute;
    top: 14rem;
    background: white;
    width: 100%;
    height: 74vh;
    padding: 30px;
    border-top-left-radius: 28px;
    border-top-right-radius: 28px; */
    position: absolute;
    top: 14rem;
    background: white !important;
    width: 100%;
    left: 0;
    height: 82vh;
    padding: 30px;
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
}
.button-align{
    width: 100%;
    margin-top: 47px;
    border-radius: 0;
}


/* .container{
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
} */