<div class="container">
    <!-- <hello name="{{ name }}"></hello> -->
    <div class="profile-padding-adj col-12 profile-details-div pt-3">
      <div><i class="far fa-long-arrow-left icon-arrow"></i></div>
      <div class="profile-detals"><span class="heading-n">Profile Details</span></div>
      <div class="profile-detals"></div>
  </div>
  <div class="profile-padding-adj d-flex justify-content-between mt-3">
      <div class="col-sm-6 col-md-6 d-flex flex-column title-padding-adj">
          <span class="prs-details">name</span>
          <span class="one-of-three">step 1 of 3</span>
      </div>
      <div>
      <div id="stepper1" class="bs-stepper">
        <div class="bs-stepper-header">
          <div class="step" data-target="#test-l-1">
            <button class="step-trigger">
              <span class="bs-stepper-circle">1</span>
             
            </button>
          </div>
          <div class="line"></div>
          <div class="step" data-target="#test-l-2">
            <button class="step-trigger">
              <span class="bs-stepper-circle">2</span>
            </button>
          </div>
          <div class="line"></div>
          <div class="step" data-target="#test-l-3">
            <button class="step-trigger">
              <span class="bs-stepper-circle">3</span>
             
            </button>
          </div>
        </div>
        <div class="bs-stepper-content">
          <form (ngSubmit)="onSubmit()">
            <div id="test-l-1" class="content">
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" />
              </div>
              <button (click)="next()" class="btn btn-primary">Next</button>
            </div>
            <div id="test-l-2" class="content">
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" />
              </div>
             <div class="d-flex flex-row justify-content-end">
              <button (click)="previous()" class="btn btn-success">previous</button>
              <button (click)="next()" class="btn btn-primary">Next</button>
             </div>
            </div>
            <div id="test-l-3" class="content text-center">
              <button type="submit" class="btn btn-primary mt-5">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    </div>
    
  </div>
  
