
<!-- <div class="div">
    <div class="container bg-img">
        <div class="row"> 
            <i class="fas fa-check-circle icon"></i> 
        </div>
        
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <span class="congrats">Congrats!</span>
        </div>
    </div>
</div> -->
<div class="container bg-div">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
           <!-- <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS6UDaciCjE0HSz34x3Smqx-LP2Y_JFx_RbgqMbDzl4RfqKpIfjpp0WHh3sbwwMIy79qJ4&usqp=CAU" alt="success-image" class="img-fluid img"> -->
           <img src="assets/reg-done-img.png" alt="red-done" class="img-fluid img">
           <i class="fas fa-check-circle icon text-center"></i>  
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center mt-2">
            <span class="congrats">Congrats!</span>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 text-center mt-1">
            <p class="success-msg">Your Account has been creted successfully.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center verify-btn">
            <button class="verify-button btn btn-info" (click)="gotoProviderConfig()">Verify My Account</button>
        </div>
    </div>
</div>