<!-- <app-select-role></app-select-role> -->
<!-- <app-reg-page-one></app-reg-page-one> -->
<!-- <app-first-reg-page></app-first-reg-page> -->
<!-- <app-reg-page-two></app-reg-page-two> -->
<!-- <app-reg-page-three></app-reg-page-three> -->

<!-- <app-verify></app-verify> -->
<!-- <app-registration-done-page></app-registration-done-page> -->
<!-- <app-reg-stepper></app-reg-stepper> -->
<!-- <app-country-selection></app-country-selection> -->
<!-- <app-state-selection></app-state-selection> -->
<!-- <app-provider-landing-page></app-provider-landing-page> -->
<!-- <app-prov-landingpage-with-req></app-prov-landingpage-with-req> -->

<!-- <app-first-reg-page></app-first-reg-page> -->
<!-- <app-switch-roles-pro-screen></app-switch-roles-pro-screen> -->

<!-- ************provider-configuration-pages********** -->
<!-- <app-provider-config-page-one></app-provider-config-page-one> -->
<!-- <app-provider-config-page-two></app-provider-config-page-two> -->
<!-- <app-provider-config-page-three></app-provider-config-page-three> -->
<!-- <app-prov-state-selection></app-prov-state-selection> -->
<!-- <app-provider-config-page-four></app-provider-config-page-four> -->


<!-- <div class="container">
    <div class="profile-padding-adj col-12 profile-details-div pt-3">
        <div><i class="far fa-long-arrow-left icon-arrow"></i></div>
        <div class="profile-detals"><span class="heading-n">Profile Details</span></div>
        <div class="profile-detals"></div>
    </div>
    <div class="profile-padding-adj d-flex justify-content-between mt-3">
        <div class="col-sm-6 col-md-6 d-flex flex-column title-padding-adj">
            <span class="prs-details">{{name}}</span>
            <span class="one-of-three">step {{step}} of 3</span>
        </div>
        <div class="pading-left-div">
            <div class="col-sm-6 col-md-6 d-flex btn-padding-adj">
                <button class="page-number">1</button>
                <div class="dots">...</div>
                <button class="page-number-t">2</button>
                <div class="dots">...</div>
                <button class="page-number-t">3</button> 
            </div>
        </div>
    </div>
</div> -->
<!-- <app-reg-stepper></app-reg-stepper> -->
<!-- <app-registration-page></app-registration-page> -->
<!-- <app-registration-page></app-registration-page> -->
<!-- <router-outlet></router-outlet> -->
<router-outlet></router-outlet>

