
<!-- <div class="container min-height"> -->
  <!-- <div class="container">
    <div class="col-12 profile-details-div mt-3">
      <div><i class="far fa-long-arrow-left icon-arrow"></i></div>
      <div class="profile-detals"><span class="heading-n">Profile Details</span></div>
      <div class="profile-detals"></div>
  </div> -->
  <!-- <div class="d-flex justify-content-between mt-3">
      <div class="col-sm-6 col-md-6 d-flex flex-column">
          <span class="prs-details">Personal Details</span>
          <span class="one-of-three">step 2 of 3</span>
      </div>
      <div class="pading-left-div">
          <div class="col-sm-6 col-md-6 d-flex">
              <button class="page-number">1</button>
              <div class="dots">...</div>
              <button class="page-number">2</button>
              <div class="dots">...</div>
              <button class="page-number">3</button>
                  
          </div>
      </div>
  </div> -->
  <div class="profile-padding-adj col-sm-12 col-md-12 col-lg-12 mt-3">
    <form>
      <div class="form-group">
          <label for="companyname">Company Name</label>
          <input type="text" class="form-control" id="companyname" placeholder="Enter your company name" name="companyname">
         
      </div>
        <div class="form-group">
          <label for="companyurl">Company URL</label>
          <input type="text" class="form-control" id="lastname" placeholder="Enter your company URL" >
          
      </div>
      <div class="form-group">
          <label for="inputState">Country</label>
          <select id="inputState" class="form-control">
            <option>Select</option>
            <option >usa</option>
            <option>canada</option>
          </select>
        </div>
        <div class="form-group">
          <label for="inputState">State</label>
          <select id="inputState" class="form-control">
            <option selected>Select</option>
            <option>abc</option>
            <option>abc</option>
            <option>abc</option>
            <option>abc</option>
          </select>
        </div>
        <div class="form-group">
          <label for="inputState">City</label>
          <select id="inputState" class="form-control">
            <option selected>Select</option>
            <option>abc</option>
            <option>abc</option>
            <option>abc</option>
            <option>abc</option>
          </select>
        </div>
        <div class="form-group">
          <label for="inputState">Zip code</label>
          <select id="inputState" class="form-control">
            <option selected>Select</option>
            <option>abc</option>
            <option>abc</option>
            <option>abc</option>
            <option>abc</option>
          </select>
        </div>
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input check-box" type="checkbox" id="disabledFieldsetCheck" >
            <label class="form-check-label" for="disabledFieldsetCheck p-4">
             I agree to the <strong>Terms and Conditions</strong>
            </label>
          </div>
        </div>
      <div class="buttons-section">
        <button class="btn btn-outline-success mr-2" (click)="gotoFirstScreen()">Back</button>
        <button class="btn btn-success" (click)="gotoThirdScreen()">Next</button>  
      </div>
  </form>       
  </div>
<!-- </div> -->



