.main-div{
    min-height: 500px;
}
.heading{
    font-size: 15px;
   font-weight: bold;
}
.email-verification-div{
    /* width: 90%; */
    border: 2px solid rgb(238, 243, 247);
    background-color: rgb(211, 217, 223);
}
i{
    color: rgb(238, 243, 247);
}
div p{
    font-size: 12px;
}
.verification-code-enter{
    font-size: 15px;
    font-weight: 500;
    margin-top: 70px;
}
.para-two{
    font-size: 13px;
    font-weight: 470;
   
}
.mail-text{
    font-size: 13px;
    font-weight: bold;
}
.edit-email{
    color: green;
    font-size: 13px;
    font-weight: bold;
}
p span{
    color: green;
    font-weight: bold;
}
.verify-button{
    
    color:white;
    border-radius: 0px;
    width: 100%;

    padding: 10px;
    
    font-size: 15px;
 
    margin-top: 10px;
    margin-bottom: 10px;
}
.verify-btn{
    background-color: white;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 8px 15px 20px;
}
/* @media screen and (min-width: 768px){
    .verify-button{
        width: 35%;
        margin-top: 100px;
    }
} */