<div class="container">
    <div  class="pt-3">
        <h1 class="privider-service-heading">Switch Profile</h1>
    </div>
    <div class="row justify-content-center m-0">
        <div class="d-flex flex-column justify-content-center align-items-center req-role-div mr-3">
            <i class="fas fa-user-cog i1"></i>
            <p class="p-2">Switch to <br/>Service requester</p>

        </div> 
        <div class="d-flex flex-column justify-content-center align-items-center prov-role-div">
            <i class="fas fa-user-cog i2"></i>
            <span class="">Switch to <br/>Service Provider</span>
        </div> 
    </div>
</div>